.common{
    /* border: 2px solid white; */
    position: absolute;
}

.nav{
    position: relative;
    float: right;
    font-size: 75%;
    right: 30px;
    top: 12px;
}

.footer{
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 80%;
    font-style: italic;
    text-align: center;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.9);
}

.header{
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    color: black;
    z-index: -1;
}

.content{
    top: 70px;
    bottom: 20px;
    left: 10%;
    right: 10%;
}

.container{
    width: 40px;
    height: 225px;
}